
$color-primary: #278da4;

.center{
    text-align: center;
}

.box {
    border: 2px solid #1EAEDB;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.background{
    background-color: #1EAEDB;
}
